@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.colored-toast.swal2-icon-success {
  background-color: #16a34a !important;
}

.colored-toast.swal2-icon-error {
  background-color: #dc2626 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f59e0b !important;
}

.colored-toast.swal2-icon-info {
  background-color: #2563eb !important;
}
